/* PAGE */

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.current-account {
  color: grey;
  margin: 15px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.row-disabled {
  opacity: 0.5;
}

.stops, .duration {
  font-size: 14px;
  color: grey;
  margin: 5px;
}

.city {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}

.arrow {
  padding: 15px 0;
}

.datetime {
  font-size: 12px;
  white-space: nowrap;
  margin: 5px;
}

.layover {
  font-size: 12px;
  color: grey;
  margin-top: 5px;
  text-align: center;
}

.airline-and-price {
  margin: 5px 0;
  white-space: nowrap;
}

.airline {
  font-weight: bold;
  color: grey;
}

.price {
  font-weight: bold;
  color: green;
  white-space: nowrap;
}

.total {
  margin: 5px;
}

.action-buttons {
  white-space: nowrap;
}

.book-button, .buy-now-button {
  margin: 10px 15px !important;
}

.booking-details-field {
  width: 50%;
}

.search-result-paper, .my-purchase-paper, .sold-ticket-paper {
  margin: 15px;
  padding: 15px;
}

.purchase-id {
  margin: 15px;
  color: grey;
}

.ticket-passenger-details {
  color: grey;
  font-size: smaller;
}

.passenger-details-value {
  color: black;
  font-weight: bold;
  font-size: larger;
}

.my-purchase-loading {
  text-align: center;
  padding-top: 15px;
}

.sold-tickets-container {
  max-height: 400px;
  overflow-y: scroll;
  background: #f0f0f0;
  padding: 0px;
  position: relative;
}

.ticket-buyer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sold-ticket-paper .ticket-loading {
  text-align: center;
  padding-top: 20px;
}

.sold-ticket-paper .purchase-id {
  margin: 20px;
}

.sold-ticket-paper .ticket-id {
  margin-top: 20px;
  white-space: nowrap;
}

.sold-ticket-paper .ticket {
  margin-top: 5px;
}

#airline-logo-input {
  display: none;
}

.airline-logo-card {
  display: flex;
  position: relative;
}

.airline-logo-form-image {
  width: 128px;
  height: 64px;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.airline-logo-actions {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.airline-logo-button {
  white-space: nowrap;
}

.airline-logo-loader {
  position: absolute;
  top: 15px;
  left: 50px;
}

.airline-logo {
  width: 128px;
  height: 64px;
  margin: 5px;
}