/* PAGE */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.row-disabled {
  opacity: 0.5;
}
